@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pretendard:wght@400;600&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f7f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8f5fa;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", sans-serif;
  font-family: "Pretendard", "Nanum Gothic", sans-serif;
}
